.main-container {
    width: calc(100% - 35px);
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    overflow-y: auto;
    position: relative;
}
.main-container::-webkit-scrollbar {
    width: 0.7em;
}
.main-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.main-container::-webkit-scrollbar-thumb {
    background-color: rgba(117, 117, 117, 0.384);
    outline: 1px solid rgba(22, 22, 22, 0.342);
}
.main-container .tabs-header {
    color: dimgray;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
}
.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    padding:0 10px;
    border-right: 1px solid gray;
}
.tab:hover {
    cursor: pointer;
    background-color: rgba(46, 46, 46, 0.808);
}
.tab svg {
    color: brown;
    font-size: 16px;
    margin-right: 5px;
}
.active {
    z-index: 10;
    background-color: #272727;
    color: white;
    border-top: 3px solid blue;
    height: 95%;
}
.readme,
.experience,
.projects {
    font-size: 14px;
    padding-left: 50px;
}
.main-left-column {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 1px;
    left: 15px;
    color: rgb(105, 105, 105);
    font-size: 14px;
    margin: 0;
    padding: 0;
}

@media (max-width: 500px) {
    .main-container .tabs-header {
        display: none;
    }
}