.App {
  background-color: #272727;
  max-width: 100vw;
  height: 100vh;
}
.App header {
  height: calc(35px - 1px);
  border-bottom: 1px solid gray;
  background-color: black;
}
.main-header {
  color: white;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
footer {
  height: calc(25px - 1px);
  background-color: black;
  display: flex;
  justify-content: end;
  align-items: center;
  border-top: 1px solid gray;
}
footer a {
  font-size: 14px;
}
.main {
  display: flex;
  max-height: calc(100vh - 60px);
}
.title {
  color: cornflowerblue;
}
.text {
  color: lightgray;
  text-align: justify;
}
.comment {
  color: darkolivegreen;
  font-weight: 600;
}
.bold {
  font-weight: 800;
}
a {
  text-decoration: underline;
  color: #007fd3;
}

@media (max-width: 500px) {
  .main-container .tabs-header {
      display: none;
  }
}